@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@300&display=swap');

body {
    background-color: #f7f5f2;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-rows: 90px;
    background-color: #f7f5f2;
    padding: 10px;
}

.logo {
    width: 230px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo-hero {
    display: block;
    margin: 0 auto;
}

.home-title {
    text-align: center;
    color: #3e3131;
    font-family: "Bungee", sans-serif;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    background-color: #3e3131;
    color: #efc9a4;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #efc9a4;
    color: #3e3131;
}

h2 {
    color: #3e3131;
    font-family: "Bungee", sans-serif;
}

p {
    color: #3e3131;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.main-pictures img {
    display: inline-block;
    height: 400px;
    width: auto;
    margin: 0 2%;
    box-sizing: border-box;
    object-fit: cover;
}

footer {
    background-color: #f7f5f2;
    color: #3e3131;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #3e3131;
    text-decoration: none;
}

footer a:hover {
    color: #9a6441;
}

#mywork-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

#object1 {
    grid-column: 1;
    grid-row: 1;
}

#object2 {
    grid-column: 2;
    grid-row: 2;
}

#object3 {
    grid-column: 1;
    grid-row: 3;
}

.object1-p {
    grid-column: 2;
    grid-row: 1;
    font-size: 40px;
    align-self: center;
}

.object2-p {
    grid-column: 1;
    grid-row: 2;
    font-size: 40px;
    align-self: center;
}

.object3-p {
    grid-column: 2;
    grid-row: 3;
    font-size: 40px;
    align-self: center;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f7f5f2;
    background-color: #9a6441;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e3131}

.button:active {
    background-color: #3e3131;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.main-pictures {
    display: flex;
    justify-content: center;
}

.main-pictures img {
    width: 30%;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f7f5f2;
    border: 1px solid #3e3131;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-family: "Montserrat", sans-serif;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
}

.container {
display: flex;
align-items: center;
justify-content: center;
height: 100px;
margin: 0;
}